
header {
    background-color: gray;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    
}

.header-left {
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    font-size: xx-large;

}

.logo-word {
    color: rgb(250, 228, 27)
}

.header-right {
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    align-items: center;
    color: white;
}



main {

}

.main-text-div {
    background-color: black;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: flow;
    position: relative;
    justify-content: center;
    align-items: center;
}

.main-text-p {
    font-weight: 800;
    font-style: bold;
    color:rgb(228, 238, 83) ;
    font-family: sans-serif;
    font-size: 75px;
}

.one {
    background-color: whitesmoke;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tb-1 {
    background-color: rgb(131, 255, 158);
    height: 300px;
    width: 400px;
    -moz-webkit-border-radius: 25px;
    
}

.tb-2 {
    background-color: rgb(131, 255, 158);
    height: 300px;
    width: 400px;
    
}

.tb-3 {
    background-color: rgb(131, 255, 158);
    height: 300px;
    width: 400px;
    
}

.two {
    background-color: whitesmoke;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.or-1 {
    background-color: orange;
    height: 300px;
    width: 750px;
}

.or-2 {
    background-color: orange;
    height: 300px;
    width: 750px;
}

.three {
    background: whitesmoke;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.elephant {
    height:200px;
    width: 300px;
}



footer {
    background-color: rgb(52, 64, 87);
    height: 100px;
    width: 100%;
}